I updated my bootstrap. I have bootstrap@5.1.3, they have 4.0.0
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

html, body {
    margin: 0;
    padding: 0;
}

samp {
  font-size:.5em;

}



.framework-card, .info-card {
  border: 1px solid lightgrey;
  padding: 5px;
  margin-left: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.info-card {
  margin-left: 30px;
}

.info-card h3 {
  font-size: calc(1.3rem + .4vw);
}

.info-example {
  border: 1px solid lightgrey;
}

.info-example h3 {
  font-size: calc(1.1rem + .2vw);
}


/*```````````````````````````` navbar```````````````````````````*/
.navbar {
  padding: 10px 15px 10px 15px;      /* was too smushed to the bezzle*/
}

.navbar-collapse {
         justify-content: flex-end;  /* not sure why, but it wasn't moving to the right (the horizontal navbar) */
       }


/*```````````````````````````` modal ````````````````````````````*/

form .row {
  margin-bottom: 15px;    /* my forms rows were touching (the input boxes mainly), so I spaced them. Their's wasn't */
}

/*.badge-primary and pill didn't work, so I did the stuff here myself. I'll look into why another time.*/
.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.badge-pill {
  padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
