.layout {
 width: 1366px;
 width: 100vw;
 height: 768px;
 height: 100vh;

 display: grid;
 grid:
   "socials today" 1fr
   "profiles frequent-sites" 1fr
   / auto 1fr;
 gap: 8px;
}

.socials { grid-area: socials; }
.frequent-sites { grid-area: frequent-sites; }
.profiles { grid-area: profiles; }
.today { grid-area: today; }

.socials, .profiles {
 background-color: rgb(191, 232, 232);
 width: 300px;
  height: 48vh;

  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: 3px;
}

.socials {
 height: 50vh;
}

.profiles {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 background-image: url("https://teiresa.github.io/responsive-site/img/teiResa_head10.PNG");
 background-size: contain;
 background-blend-mode: soft-light;
 background-repeat: repeat;
 background-color: rgba(98, 92, 105, 0.171);
}

.profiles i {
 font-size: xxx-large;
}


.social-specs {
 margin-left: 5px;
}

.frequent-sites, .today {
 background-color: lavenderblush;
  width: auto;
  height: auto;

  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

.today {
 height: 50vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  background-image: url("http://www.allgitcontributiongraph.com/justgraphit.svg?gitlab=teiResa&github=teiResa");
}

.today #timehere {
 font-size: 6rem;
 font-weight: 800;
 margin: 10px ;
}

.today #datehere {
  font-size: 2rem;
  margin: 10px;
}

@media screen AND (min-width: 1200px) {
 body {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 99vw;
 }
       .social-specs {
         height: 240px;
        /* not doing anything*/
       }
        .today {
         height: 60vh;
         
        }
        .frequent-sites {
         width: 99vw;
         height: fit-content;
         overflow-y: scroll;
         overflow-x: hidden;

         flex-direction: row;
         flex-wrap: wrap;

        }
        .profiles{
         height: 49vh;
         justify-content: flex-start;
        }

        .profiles i {
         font-size: xxx-large;
         color: palegreen;
        }


        .today #timehere {
         font-size: 13rem;
         font-weight: 800;
         margin-left: 5px;
        }

        .today #datehere {
         font-size: 3rem;
         margin-left: 8vw;
        }
}

.frequent-sites {
 height: auto;
 display: flex;
 flex-direction: row;
 
}

.frequent-sites a {
 text-decoration: none;
 font-weight: bold;
}

.frequent-sites section {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
 
}

.frequent-sites section div {
 border: 2px grey outset;
 margin: 6px;
 font-size: x-large;
}
