.btn-inverse:hover {
  color: #8dbabb;
}

.jumbotron {
    background-color: #e9ecef00;
}

.bg-override {
    background-color: #e9ecef00 !important;
}

main {
  margin-top: 140px;
}


/* each page gets this block in the style tag in the head tag. Until I get a clue, this will have to be trial-and-errored for the right size.

main::before {
  height:500vh;
}

*/
