body {
 font-family: 'Bubblegum Sans', cursive;
  color: mediumslateblue;
}

.today{
 width: 100vw;
 height: 90vh;
 left: -4px;
 background-color: darkolivegreen;
 display: flex;
 align-content: center;
 justify-content: center;
 align-items: center;
}

#timehere {
 font-size: xxx-large;
 font-weight: bolder;
 font-size: 7rem;
 text-shadow: 0 0 50px white;
}


/*
@media screen AND (max-height:1200px)
@media screen AND (min-height: 1200px)


@media screen AND (max-width: 1200px)
@media screen AND (min-width: 1200px) {

}

*/